/* CSS Reset, Font setup and Plugins ---------------- */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
ins{background-color:#ff9;color:#333;text-decoration:none;}
mark{background-color:#ff9;color:#333;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace, sans-serif;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
ul,ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul,nav li{list-style:none;list-style-image:none;margin:0;}
small{font-size:85%;}
strong,th{font-weight:700;}
td{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-.5em;}
sub{bottom:-.25em;}
pre{white-space:pre-wrap;word-wrap:break-word;padding:1em;}
textarea{overflow:auto;}
.ie6 legend,.ie7 legend{margin-left:-7px;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red;}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
input[type="radio"],.ie6 input{vertical-align:text-bottom;}
em {font-style: oblique;}

/* 0.1 Plugin - Superfish ---------------------------- */

header nav ul ul {
	position: absolute;
	top: -999em;
	width: 10em;
	text-align: left;
	z-index: 3;
	background: #333;
	padding: 0.5em 1em;
	margin-top: 16px;
}

header nav ul ul li {
	width: 100%;
	float: left;
	display: block;
	line-height: 1em;
	margin: 0.25em 0;
}

header nav ul li:hover {
	visibility: inherit;
}

header nav ul li,
header nav ul a {
	position: relative;
}

header nav ul li:hover ul,
header nav ul li.sfHover ul {
	left: 0;
	top: 1.5em;
	z-index: 99;
}

header nav ul li:hover li ul,
header nav ul li.sfHover li ul {
	top: -999em;
}

header nav ul li li:hover ul,
header nav ul li li.sfHover ul {
	left: 7em;
	top: 0;
}

header nav ul li li:hover li ul,
header nav ul li li.sfHover li ul {
	top: -999em;
}

header nav ul li li li:hover ul,
header nav ul li li li.sfHover ul {
	left: 10em;
	top: 0;
}

header nav li.sfHover a { 
	text-decoration: none; 
	color: #cb5211;
}

header nav li.sfHover li a { 
	text-decoration: none; 
	background: none;
	color: #fff;
}

header nav ul li ul li a { 
	text-decoration: none; 
	padding: 0.75em 0 0.25em 0;
	display: block;
	float: left;
	width: 100%;
	background: none;
	border-bottom: none;
}

header nav ul ul li:first-child a { 
	padding: 0;
	border-top: none; 
}

header nav ul ul a:hover { 
	text-decoration: underline; 
}

/* General Layout ------------------------------ */

html {
	-webkit-text-size-adjust: none;
}

body {
	background: #65beb4;
	font-family: 'Raleway', sans-serif;
}

p {
	margin-bottom: 15px;
}


header, section, article {
	float: left;
	width: 100%;
}

.wrapper, section.wrapper, article.wrapper {
	float: none;
	text-align:left;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

header {
	position: relative;
	z-index: 99;
	background: #f7f7f7;
	padding: 16px 0 20px 0;
	border-bottom: 1px solid #eaeaea;
}

header .logo {
	font-size: 36px;
	float: left;
	position: relative;
	padding: 20px 0 12px 0;
}

header nav {
	float: right;
	padding: 20px 0 12px 0;
}

header nav ul {
	float: right;
}

header nav ul li {
	font-size: 24px;
	display: inline;
	margin: 0 0 0 20px;
	padding: 0;
}

header nav ul li a {
	padding: 20px 0 18px 0;
	text-decoration: none;
	color: #484545;
}

header nav ul li a:hover {
	color: #cb5211;
	text-decoration: none;
}

header nav ul li ul li a:hover {
	text-decoration: underline;
}

header nav .wrapper {
	text-align: center;
}

.title-page .wrapper h1 {
	font-size: 36px;
	text-align: left;
	padding-top: 50px;
}

.main-page .content {
	width: 100%;
}

.content {
	float: left;
	width: 680px;
	text-align: left;
	position: relative;
	z-index: 2;
	padding-top: 25px;
	padding-bottom: 75px;
}

.image-wrapper {
	position: relative;
    width: 250px;
}

.image-wrapper ul {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    width: 218px;
    color: #FFF;
    margin: 5px;
    list-style: none;
  	padding-left: 10px;
}

.image-wrapper li {
	font-size: 24px;
}

.content h2 {
	font-size: 24px;
	padding-top: 50px;
}



/* Blocked */

html.blocked body {
	background: #474646;
}

html.blocked #block-wrapper {
	margin: 0 auto;
	width: 1000px;
}

html.blocked #content-wrapper {
	float: left;
	width: 100%;
	background: #f9f9f9;
}

/* Typography & Text Colours ----------------- */

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #484545;
}

a {
	color: #cb5211;
	text-decoration: none;
	-o-transition: color 0.25s ease-in;
	-webkit-transition: color 0.25s ease-in;
	-moz-transition: color 0.25s ease-in;
	transition: color 0.25s ease-in;
}
